.play-btn
{
	width: 80px;
	height: 80px;
	padding: 0px;
	margin: 0;
	background: transparent;
	border: 7px solid #000;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.play-icn
{
	font-size: 32px;
	margin-left: 5px;
	padding: 0;
}

.small-text
{
	font-size: 22px;
	font-family: "Roboto",sans-serif;
	font-style: normal;
	color: #000;
}

.small-text.bold
{
	font-weight: bold;
}

@media (max-width: 992px){
	.nav-link
	{
		font-size: 28px;
	}
}


@media (max-width: 577px){
	.nav-link
	{
		font-size: 22px;
	}
}